p1 {
  color: white;
  font-size: 200%;
  font-family: sans-serif;
}

p2{
  font-size: 20px;
  color: white;
}

.box{
  margin: 50px;
  background: red;
  padding: 50px;
  width: 800px;
  height: 200px;
  border-style: double;
  border-width: thick;
}

h1{
  font-family: "Bebas Neue";
  color: white;
  font-size: 1200%;
  transform: rotate(90deg);
  position:fixed;
  left: 11%;
  top: 25%;
}

h2{
  font-family: "Montserrat";
  color: white;
  font-size: 700%;
  position: fixed;
  left: 11%;
  top: 25%;
}
